[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "statcanR"]
	path = statcanR
	url = https://github.com/warint/statcanr
	shallow = true
	registered = true
